* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 95vw;
    height: 95vh;
    max-height: 800px;
    max-width: 1500px;
    display: grid;
    grid-template: 1fr 5fr / 1fr 3fr;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(35, 130, 255);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.sidebar h1 {
    color: white;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.sidebar h1 img {
    width: 30px;
    height: auto;
    margin-right: 28px;
}

.sidebar ul {
    list-style: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.sidebar ul li {
    margin-top: 10px;
}

.sidebar ul li:hover {
    background-color: rgb(27, 107, 211);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar ul img {
    width: 20px;
    height: auto;
    margin-right: 40px;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(286deg) brightness(104%) contrast(102%);
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.header > div {
    align-items: center;
    display: grid;
    gap: 20px;
}

.header > div:nth-child(1) {
    grid-template-columns: 11fr 5fr;
}

.header > div:nth-child(2) {
    grid-template-columns: 2fr 1fr;
}

.header > div > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header img {
    width: 30px;
    height: auto;
}

.header img:hover {
    width: 35px;
    cursor: pointer;
    transition: width 0.3s ease;
}

.header #search {
    background-color: rgb(230, 230, 230);
    height: 40px;
    width: 90%;
    border-radius: 10px;
}

.header #search:hover {
    cursor: text;
}

.header #user-profile {
    padding: 20px;
    background-color:rgb(150, 150, 150)
}

.header #user-profile:hover {
    background-color:rgb(133, 133, 133);
}

.header #user-image {
    width: 60px;
    height: auto;
}

.header #greeting {
    font-size: 20px;
    font-weight: bold;
}

.header button {
    color: white;
    background-color:rgb(35, 130, 255);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.header button:hover {
    background-color: rgb(27, 107, 211);
    cursor: pointer;
}

.main {
    background-color: rgb(230, 230, 230);
    padding: 0 20px 20px 20px;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.projects {
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template: 0.5fr 3fr 3fr 3fr / 1fr 1fr;
    gap: 20px;
}

.projects h2 {
    grid-area: 1 / 1 / 2 / 3;
}

.projects > div {
    background-color: white;
    border-radius: 15px;
    padding: 5%;
    border-left: 5px solid rgb(243, 243, 41);
    box-shadow: 4px 4px 1px rgb(214, 214, 214);
}

.projects p {
    font-size: 15px;
}

.projects .actions {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 15px;
}

.projects .actions img {
    width: 20px;
    height: auto;
}

.projects .actions img:hover {
    filter: invert(41%) sepia(30%) saturate(4687%) hue-rotate(200deg) brightness(100%) contrast(103%);
    cursor: pointer;
    transition: filter 0.3s ease;
}

.other {
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-rows: 0.5fr 4fr 0.5fr 4fr;
    gap: 20px;
}

.other > div {
    background-color:white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 4px 4px 1px rgb(214, 214, 214);
}

.other p {
    font-size: 10px;
}

.other h3 {
    font-size: 15px;
}

.other #users {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 3fr;
}

.other #users img {
    width: 40px;
    height: auto;
}

.other #users div {
    padding: 0 0 0 20px;
}

.other .handle {
    font-weight: bold;
}

@media (max-width: 1000px) {
    .main {
        grid-template-columns:  1fr;
    }

    .other {
        display: block;
    }

    .other > div {
        display: grid;
        grid-template: 1fr / 1fr 0.5fr 1fr 0.5fr 1fr;
    }

    .other #users {
        grid-template: 1fr / repeat(4, 1fr)
    }

    .other p {
        font-size: 15px;
    }

    .other #users img {
        width: 50px;
        height: auto;
        margin: auto;
    }
}

@media (max-width: 800px) {
    .header {
        gap: 50px;
    }

    .header > div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header > div > div {
        width: 100%;
    }

    .header > div > div:nth-child(2) {
        justify-content: center;
    }

    .sidebar h1 {
        font-size: 25px;
        margin-left: 10px;
    }

    .sidebar ul {
        padding-left: 20px;
    }

    .sidebar ul img {
        margin-right: 20px;
    }
}

@media (max-width: 600px) {
    .container {
        grid-template: 1fr 5fr / 1fr 4fr;
    }

    .sidebar h1 {
        font-size: 15px;
    }

    .sidebar ul {
        font-size: 0px;
    }

    .sidebar ul img {
        width: 40px;
        height: auto;
        margin-left: 20px;
        margin-top: 20px;
    }

    .projects {
        grid-template: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
    }

    .projects h2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .other > div {
        grid-template: 1fr 0 1fr 0 1fr/ 1fr;
    }

    .other #users {
        grid-template: repeat(4, 1fr) / 1fr;
    }

    .other #users img {
        width: 80px;
    }
}